/* .home {
  background: url("https://www.lge.co.kr/uploads/product/media/2018/09/k228aw11e.akor/usp_0101.jpg")
    no-repeat fixed center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.8;
} */
